// 要先宣告不能放後面會吃不到
$fontSize : 10px; // 數值
$color:#333;    // 顏色 
$bgc:#fff;      // 背景色
$fontFamily:'微軟正黑體'; // 字串
$margin:10px 20px 5px 4px; // list
$null:null; // 空值
$w: true;// false 用在判斷式身上

body {
    margin:$margin;
    padding: 0;
    font-size: $fontSize;
    color: $color;
    background-color: $bgc;
    font-family: $fontFamily;
    border: $null;
}

.wrapper{
    @if $w{
        width: 100%;
    }
    @else {
        width: 1200px;
        margin: 0 auto;
    }
    
}

.b {
    $b:10px !global; 
    // !global 變成全域變數 都可以取得到
    // 可以宣告在裡面
    margin: $b;
}

// 改變權重 !default

$a:20px;
$a:30px !default;

.a {
    font-size: $a;
}

// 轉型字串
$url:icon1;
.icon{
    background-image: url('#{$url}.jpg');
}

$class:'top';
.#{$class}{
    margin-top: 10px;
}