// 要先宣告不能放後面會吃不到
$fontSize : 10px; // 數值
$color:#333;    // 顏色 
$bgc:#fff;      // 背景色
$fontFamily:'微軟正黑體'; // 字串
$margin:10px 20px 5px 4px; // list
$null:null; // 空值
$w: true;// false 用在判斷式身上

body {
    margin:$margin;
    padding: 0;
    font-size: $fontSize;
    color: $color;
    background-color: $bgc;
    font-family: $fontFamily;
    border: $null;
}

.wrapper {
    width: 100%;
    background-color: rgb(0, 110, 255);
    h1 {
      font-size: 36px;

    }
    nav {
        width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
          width: 150px;
          height: 50px;
          background-color: #666;  
        }

        ul {
            list-style: none;
            display: flex;

            li {
                padding: 10px 20px;
                background-color: rgb(247, 0, 255);
                &:first-child{
                    background-color: #f00;
                }
                a{
                    color: #fff;
                    &:hover{
                        color: #f00;
                    }
                    &::after {
                        content: '';
                    } 
                    &::before {
                        content: '';
                    }
                    
                }
            }
        }
    }
}

.index {
  h1 {
    font-size: 40px;
    color: aquamarine;
  }

}
.about {
  h1 {
    font-size: 60px;
    color: #666

  }
}